{% extends "layout.html" %}

{% block content %}
  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
      <hr class="star-dark mb-5">
      <div class="row">
 
        <div id="app">
          <h1> [[ band.title ]] </h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script>
    var app = new Vue({
        el: '#app',
        delimiters: [ '[[', ']]'],
        data: {
            band: {}
        },
        methods: {
          fetchData: function () {
            this.$http.get('/test').then(response => {
              this.band = response.body;
            }, response => {
              console.log("an error occurred");
            });
          }
        },
        mounted: function () {
          this.fetchData();
        }
    })
  </script>
{% endblock %}